body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:200px;
  top:0px;
  width:360px;
  height:738px;
  font-size:8px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:738px;
}
#u2 {
  position:absolute;
  left:2px;
  top:361px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:217px;
  top:80px;
  width:325px;
  height:568px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:568px;
}
#u4 {
  position:absolute;
  left:2px;
  top:276px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:345px;
  top:658px;
  width:70px;
  height:70px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u6 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:315px;
  top:37px;
  width:14px;
  height:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:338px;
  top:40px;
  width:87px;
  height:9px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:9px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-4px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:218px;
  top:100px;
  width:324px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:218px;
  top:80px;
  width:324px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:220px;
  top:78px;
  width:320px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:188px;
  width:25px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:240px;
  top:236px;
  width:25px;
  height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:230px;
  top:260px;
  width:300px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u24 {
  position:absolute;
  left:228px;
  top:213px;
  width:302px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:285px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:302px;
  height:1px;
}
#u25 {
  position:absolute;
  left:290px;
  top:185px;
  width:240px;
  height:30px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:290px;
  top:233px;
  width:240px;
  height:30px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:334px;
  top:110px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:230px;
  top:505px;
  width:300px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:220px;
  top:431px;
  width:320px;
  height:216px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u34 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_ann {
  position:absolute;
  left:533px;
  top:427px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:474px;
  top:110px;
  width:68px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:218px;
  top:144px;
  width:324px;
  height:503px;
  opacity:0.699999988079071;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:503px;
}
#u38 {
  position:absolute;
  left:2px;
  top:244px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:230px;
  top:310px;
  width:300px;
  height:121px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:121px;
}
#u40 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:318px;
  top:311px;
  width:120px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:240px;
  top:352px;
  width:280px;
  height:28px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:28px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:276px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:241px;
  top:372px;
  width:280px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u46 {
  position:absolute;
  left:240px;
  top:390px;
  width:81px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:420px;
  top:390px;
  width:100px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:373px;
  top:390px;
  width:10px;
  height:30px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:13px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:30px;
}
